<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true" name="C:/Users/mvsuhas/TestNGDemo_Maven">
        <classes>
            <class name="tests.HightoLow">
                <methods>
                    <include name="filteringHightoLow"/>
                </methods>
            </class>
            <class name="tests.LoginTest">
                <methods>
                    <include name="validateLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>